@mixin clearFix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

/*
breakpoint list
- phone         max-width   600px  / 16 =  37.5em     1em = 16px
- tab-port      max-width   900px  / 16 =  56.25em    1em = 16px
- tab-land      max-width   1200px / 16 =  75em       1em = 16px
- big-desktop+  min-width   1800px / 16 =  112.5em    1em = 16px
*/

// respons manager
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
