@-webkit-keyframes floatinleft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes floatinleft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes floatinright {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes floatinright {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes btnMove {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes btnMove {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 10px;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 2rem;
}

.head-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
  text-align: center;
}

.head-text h1 {
  color: #fff;
  font-size: 6rem;
  font-weight: 200;
  letter-spacing: 3.5rem;
  text-transform: uppercase;
  -webkit-animation-name: floatinleft;
          animation-name: floatinleft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.head-text p {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 1.7rem;
  text-transform: uppercase;
  margin-bottom: 5rem;
  -webkit-animation-name: floatinright;
          animation-name: floatinright;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.heading-sacondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.heading-sacondary:hover {
  -webkit-transform: skew(20deg, 2deg) scale(1.1);
          transform: skew(20deg, 2deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.pragraph {
  font-size: 1.6rem;
}

.pragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  letter-spacing: -0.5px;
  display: inline-block;
  color: #55c57a;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-text:hover {
  color: #fff;
  background-color: #55c57a;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.btn-text:active {
  -webkit-transform: translate(0);
          transform: translate(0);
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.u-center-text {
  text-align: center;
}

.u-marginB-8 {
  margin-bottom: 8rem;
}

.u-marginB-small {
  margin-bottom: 1.5rem;
}

.u-marginB-medium {
  margin-bottom: 3rem;
}

.u-marginB-big {
  margin-bottom: 6rem;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  display: inline-block;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  position: relative;
}

.btn:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.btn:hover::after {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn-white::after {
  background-color: #fff;
}

.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-animated {
  -webkit-animation: btnMove 1s ease-in 0.7s;
          animation: btnMove 1s ease-in 0.7s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.composition {
  position: relative;
}

.composition__photo {
  width: 55%;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  position: absolute;
}

.composition__photo__p1 {
  top: 0rem;
  left: 0px;
}

.composition__photo__p2 {
  top: 5rem;
  right: 0;
}

.composition__photo__p3 {
  top: 15rem;
  left: 20%;
}

.header {
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.7)), to(rgba(40, 180, 133, 0.7))), url(../assets/images/hero.jpg);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7)), url(../assets/images/hero.jpg);
  background-color: #8bc4ac;
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%, 0 0);
  position: relative;
}

.header .logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header .logo-box .logo {
  height: 3.5rem;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 2rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
  padding: 1rem;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 5rem;
}

.row .col-1-of-2 {
  width: calc((100% - 5rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 5rem * 2) / 3);
}

.row .col-2-of-3 {
  width: calc( 2 * (100% - 5rem* 2) / 3 + 5rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 5rem) / 4);
}

.row .col-2-of-4 {
  width: calc( 2 * ((100% - 3 * 5rem) / 4) + 5rem);
}

.row .col-3-of-4 {
  width: calc( 3 * ((100% - 3 * 5rem) / 4) + 2 * 5rem);
}

.section-about {
  background-color: #f0f0f0;
  padding: 25rem 0;
  margin-top: -20vh;
}
/*# sourceMappingURL=main.css.map */