.header {
  height: 115rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($Light-green, 0.7),
      rgba($Dark-green, 0.7)
    ),
    url(../assets/images/hero-small.jpg);
  background-color: rgb(139, 196, 172);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%, 0 0);
  position: relative;
  margin-bottom: 15rem;

  // @include respond(phone) {
  //   // height: 85vh;
  //   clip-path: none;
  //   margin-bottom: 8rem;
  // }

  // @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
  //   (min-width: 125em) {
  //   background-image: linear-gradient(
  //       to right bottom,
  //       rgba($orange-light, 0.7),
  //       rgba($orange-dark, 0.7)
  //     ),
  //     url(../assets/images/hero.jpg);
  // }
  .logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    .logo {
      height: 3.5rem;
    }
  }
}
