.u-center-text {
  text-align: center;
}
.u-marginB-8 {
  margin-bottom: 8rem;
}
.u-marginT-8 {
  margin-top: 8rem;
}
.u-paddingY-big {
  padding: 20rem 0;
}
.u-paddingY-small {
  padding: 3rem 0;
}
.u-marginY-small {
  margin: 1.5rem 0;
}
.u-marginB-small {
  margin-bottom: 1.5rem;
}
.u-marginB-medium {
  margin-bottom: 4rem;
}
.u-marginB-big {
  margin-bottom: 6rem;
}
.u-marginT-big {
  margin-top: 10rem;
}
.u-marginT-small {
  margin-top: 4rem;
}
